<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="ODBC" value="relojmar"/>
      <add key="ODBCUser" value="sa"/>
      <add key="ODBCPass" value="CASETECH"/>
      <add key="HoraEjecucion" value="18:18"/>
      <add key="CantidadEmpleados" value="5"/>
      <add key="Mensaje" value="Por favor, pasar por administración"/>
   </appSettings>
</configuration>